/**
 * Made by Melvin Campos Casares
 * Last modification: 01/10/2018
 */

body, .portal, .linkWhite {
  --ephec: #FF6A10;
  --tile: #373737;
  --background: #171717;
  --white: #ffffff;
}

h1, h2 {
  --header: #fafafa;
}

a, span {
  --link: #e0e0e0;
}

h2, footer {
  --rgba-start: rgba(0, 0, 0, 0.16);
  --rgba-stop: rgba(0, 0, 0, 0.23);
}

footer, #copyright {
  --foot: #bdbdbd;
  --foot-background: #424242;
  --foot-rgba-start: rgba(0, 0, 0, 0.30);
  --foot-rgba-stop: rgba(0, 0, 0, 0.22);
}

.sidenav {
  --sidenav-background: #fff;
  --sidenav-text: #818181;
  --sidenav-text-hover: #1f1f1f;
}

.link {
  --rgba-link-start: rgba(0, 0, 0, 0.12);
  --rgba-link-stop: rgba(0, 0, 0, 0.24);
  --rgba-hover-start: rgba(0, 0, 0, 0.25);
  --rgba-hover-stop: rgba(0, 0, 0, 0.22);
}

.linkFb {
  --fb: #3b5998;
  --fb-light: #8b9dc3;
  --fb-content: #dfe3ee;
  --fb-page: #f7f7f7;
}

.MicrosoftPalette, #linkAzure, #linkMsImagine, #linkOneDrive, #linkWebStore {
  /*
   * https://ratnacahayarina.files.wordpress.com/2014/03/microsoft.pdf
   */
  --process-yellow: #FFF100;
  --orange: #FF8C00;
  --red: #E81123;
  --process-magenta: #EC008C;
  --purple: #68217A;
  --blue: #00188F;
  --process-cyan: #00BCF2;
  --teal: #00B294;
  --green: #009E49;
  --lime: #BAD80A;
  /* Lighter */
  --yellow-light: #FFFC9E;
  --orange-light: #FFB900;
  --red-light: #DD5900;
  --magenta-light: #F472D0;
  --purple-light: #9B4F96;
  --blue-light: #4668C5;
  --cyan-light: #6DC2E9;
  --teal-light: #00D8CC;
  --green-light: #55D455;
  --lime-light: #E2E584;
  /* Darker */
  --yellow-dark: #FCD116;
  --orange-dark: #EB3C00;
  --red-dark: #BA141A;
  --magenta-dark: #B4009E;
  --purple-dark: #442359;
  --blue-dark: #002050;
  --cyan-dark: #0072C6;
  --teal-dark: #008272;
  --green-dark: #007233;
  --lime-dark: #7FBA00;
  /* Others */
  --azure: #007FFF;
}

#linkDiscord {
  /*
   * Discord Brand :
   * Logo, alternative logo, standard spaces, Discord colors and press kit.
   * https://discordapp.com/branding
   */
  --discord: #7289DA;
}

#linkCNA {
  /*
   * Cisco Color Guidelines
   * https://www.cisco.com/c/m/en_us/about/brand-center/copyright-use/copyright-material-guidelines/color-guidelines.html
   */
  --lake-blue: #004BAF;
  --river-blue: #097DBC;
  --cisco-blue: #049FD9;
  --icy-blue: #C4D6ED;
  --dark-gray2: #58585B;
  --medium-gray2: #9E9EA2;
  --light-gray2: #C6C7CA;
  --pale-gray1: #E8EBF1;
}

#linkW3S {
  --apple: #4caf50;
  --davys-grey: #555555; /* Davy's Grey */
}

#linkJetBrains {
  /*
   * JetBrains Brand :
   * https://www.jetbrains.com/company/brand/
   */
  --medium-grey: #7D7D7D;
  --light-grey: #CDCDCD;
  --amber: #F9A857;
  --tangerine: #EC7B75;
  --siena: #FB5502;
  --crimson: #FB2046;
  --carmine: #E32581;
  --fuchsia: #D73CEA;
  --lilac: #9135E0;
  --mauve: #961F8C;
  --purple: #5E2495;
  --blue: #5848F4;
  --sky-blue: #05C1FD;
  --green: #18D68C;
  --lemon-yellow: #FCF84A;
}

#linkInginious {
  --ingi: #888888;
  --nious: #eeeeee;
}

#linkTrello {
  /*
   * Brand Guideline : https://blog.trello.com/the-how-and-why-behind-trellos-visual-brand-guide
   * About logo : https://trello.com/about/logo
   */
  --trello-blue: #0079BF;
  --trello-go: #61BD4F;
  --trello-danger: #EB5A46;
  --trello-wait: #F2D600;
}

#linkWinBooks {
  --winbooks: #003f7d;
}

#linkBN {
  --bn-blue: #214685; /* rgb(33, 70, 133) - R: 33, G: 70, B: 133 */
  --bn-grey: #B1B1B1; /* rgb(177, 177, 177) - R: 177, G: 177, B: 177 */
}